$page_width: 100%;

$flex : flex;
$flex_column: column;

$grid: grid;
$grid_columns:
        10.5% 7.9% 6.7% 9.2% 3.6% 12.1%
        12.1% 3.6% 9.2% 6.7% 7.9% 10.5%;

$inline-block: inline-block;
$block: block;
$absolute: absolute;
$relative: relative;
$text-center: center;
$center: 0 auto;
$border-transparetnt: 1px solid transparent;
$border-black: 2px solid #000;

$yellow: #ffd500;
$yellow_light:#fad663;
$black: #000;
$white: #fff;


$nav-item_margin: 0 .81%;
$nav-item_pading: 0.5%;

$nav-item-radius: 1.2rem;

$text_up: uppercase;
$letter_space_menu: 0.10rem;
$letter_space_title: 25px;


$text_menu: 1.125rem/2.05rem "big jhon", sans-serif;
$text_title: 3.9rem "big jhon",sans-serif;

