<header class="page-header">
	<nav class="page-header__nav page-header__nav_decor">
		<a href="#" class="page-header__nav-link page-header__nav-link_decor">Home</a>
		<a href="#" class="page-header__nav-link page-header__nav-link_decor">What i do</a>
		<a href="#" class="page-header__nav-link page-header__nav-link_decor">My works</a>
		<a href="#" class="page-header__nav-link page-header__nav-link_decor">About</a>
		<a href="#" class="page-header__nav-link page-header__nav-link_decor">Contact</a>
	</nav>
	<div class="page-header__title">
		<h1 class="page-header__title-text">
			Tacos cardigan truffaut Quanted!
		</h1>
		<img class="page-header__title-img" src="../img/header/glasses.png" alt="glasses">
		<a class="page-header__title-button button_decor"> see more</a>
	</div>
	<a href="index.html" class="page-header__logo">
		<img src="../img/header/logo.png" alt="logo-donut">
	</a>
	<div
			id="carouselExampleIndicators"
			class="carousel slide"
			data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
		</ol>
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img
						class="d-block w-100"
						src="../img/header/slide1.png"
						alt="First slide">
			</div>
			<div class="carousel-item">
				<img
						class="d-block w-100"
						src="../img/header/slide1.png"
						alt="Second slide">
			</div>
			<div class="carousel-item">
				<img
						class="d-block w-100"
						src="../img/header/slide1.png"
						alt="Third slide">
			</div>
		</div>
	</div>
	<ul class="page-header__scroll">
		<li class="page-header__scroll-item">|</li>
		<li class="page-header__scroll-item">|</li>
		<li class="page-header__scroll-item">|</li>
		<li class="page-header__scroll-item">|</li>
		<li class="page-header__scroll-item">|</li>
		<li class="page-header__scroll-item">|</li>
	</ul>
</header>